setuptools>=75.6.0
numpy>=2.2.0
pandas>=2.2.3
pandas-stubs
pyarrow>=18.1.0
pyarrow-stubs
psutil>=6.1.0
types-psutil
tqdm>=4.67.1
tqdm-stubs
av>=14.0.1
git+https://github.com/ftyers/commonvoice-utils.git@main
git+https://github.com/common-voice/CorporaCreator.git@master
