setuptools>=75.1.0
pandas>=2.2.3
pandas-stubs>=2.2.2
pyarrow>=17.0.0
pyarrow-stubs
psutil>=6.0.0
types-psutil
tqdm>=4.66.5
tqdm-stubs
av>=13.0.0
git+https://github.com/ftyers/commonvoice-utils.git@main
git+https://github.com/common-voice/CorporaCreator.git@master
